@keyframes scroll-up {
    from {
        opacity: 1;
        /* transform: scale(0.5); */
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scroll-down {
    from {
        opacity: 1;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* for global text */
.animate-text {
    opacity: 1; /* Initially hidden */
    transform: scale(0.5); /* Corrected scale syntax */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* for homepage */
.img-hover, .line, .custom-line, .custom-line2, .open-modal {
    opacity: 1; 
    transform: scale(0.5); /* Corrected scale syntax */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* for products */
.sculpture-content, .gallery-img, .gallery-img {
    opacity: 0; /* Initially hidden */
    transform: scale(0.5); /* Corrected scale syntax */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* for shipping */
.Shipping-gallery, .features, .feature-item, .highlight-banner, .Shipping-galery2, .shipping-intro-h {
    opacity: 0; /* Initially hidden */
    transform: scale(0.5); /* Corrected scale syntax */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* for contact */
.contact-logo {
    opacity: 0; /* Initially hidden */
    transform: scale(0.5); /* Corrected scale syntax */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Class to trigger animation */
.animate-up {
    animation: scroll-up 1s forwards;
}

.animate-down {
    animation: scroll-down 1s forwards;
}

.spacer {
    height: 3rem;
}