.contact-text-container-outer {
    width: 100%;
    background-color:  #beb1b1;
    color: #213236;
    padding: 10px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* Perhitungan konsisten */

    /* For flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-logo img {
    width: 200px;
    margin-bottom: 10px;
}

/* .contact-text-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
} */

.contact-text-container {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-text-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-text-container ul li {
    margin: 10px 0;
}

.contact-text-container ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text-container ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

.contact-text-container ul li a:hover {
    color:  #FF3B3F;
}

/* Responsive Design */

/* if needed */
@media (min-width: 768px) {
    .contact-text-container {
        /* flex-direction: row; */
        /* justify-content: space-between; */
        align-items: center;
        /* text-align: left; */
        padding: 0 20px;
    }

    .contact-text-container ul li {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .contact-text-container ul li a {
        justify-content: center; /* Teks akan berada di tengah */
        text-align: center; /* Pastikan teks di dalam elemen disejajarkan */
        font-size: 14px; /* Opsional, untuk menyesuaikan ukuran font */
    }
}