* {
    font-size: 100%;
}

.contact-text-container-outer {
    width: 100%;
    background-color:  #beb1b1;
    color: #213236;
    padding: 0.625rem 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* Perhitungan konsisten */

    /* For flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-logo img {
    width: 12.5rem;
    margin-bottom: 0.625rem;
}

.contact-text-container {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.contact-text-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-text-container ul li {
    margin: 0.625rem 0;
}

.contact-text-container ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.contact-text-container ul li a i {
    margin-right: 0.625rem;
    font-size: 1.125rem;
}

.contact-text-container ul li a:hover {
    color:  #FF3B3F;
}

/* Responsive Design */

/* if needed */
@media (min-width: 768px) {
    .contact-text-container {
        align-items: center;
        padding: 0 1.25rem;
    }

    .contact-text-container ul li {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .contact-text-container ul li a {
        justify-content: center; /* Teks akan berada di tengah */
        text-align: center; /* Pastikan teks di dalam elemen disejajarkan */
        font-size: 0.875rem; /* Opsional, untuk menyesuaikan ukuran font */
    }
}