.border-none {
    border: none;
    background-color: tomato;
}

.border-solid {
    border: 2px solid black;
    background-color: tomato;
}

.p-10 {
    padding: 0.625rem;
}

.p-20 {
    padding: 1.25rem;
}

.m-10 {
    margin: 0.625rem;
}

.m-20 {
    margin: 1.25rem;
}

.wh-200 {
    width: 12.5rem;
    height: 12.5rem;
}

.wh-100 {
    width: 100px;
    height: 100px;
}

.wh-inherit {
    width: inherit;
    height: inherit;
}

.wh-full {
    width: 100%;
    height: 100%;
}